In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('learningSet.csv')

C:\Users\sabba\AppData\Local\Temp\ipykernel_21120\1139992032.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('learningSet.csv')

In [3]:
# separating types
df_num=df.select_dtypes(np.number)
df_cat=df.select_dtypes(object)

In [4]:
df_cat.isna().sum()

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 74, dtype: int64

In [5]:
# replacing the empty values for Nan
df_cat = df_cat.apply(lambda x: x.replace(" ", np.NaN))

In [6]:
#Create a new empty list called drop_list

In [7]:
drop_list=[]

In [8]:
drop_list.append('OSOURCE')

In [9]:
drop_list=drop_list + ['ZIP']

In [10]:
drop_list

['OSOURCE', 'ZIP']

In [11]:
# Identify columns that over 85% missing values

In [12]:
nulls_percent_df = pd.DataFrame(df_cat.isna().sum()/len(df_cat)).reset_index()
nulls_percent_df
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df[nulls_percent_df['nulls_percentage']!=0].head(60)

   column_name  nulls_percentage
0      OSOURCE          0.009726
3     MAILCODE          0.985337
4     PVASTATE          0.984719
5       NOEXCH          0.000073
6     RECINHSE          0.929747
7        RECP3          0.978860
8      RECPGVG          0.998805
9     RECSWEEP          0.983052
11      DOMAIN          0.024274
12     CLUSTER          0.024274
13     AGEFLAG          0.309689
14    HOMEOWNR          0.232969
15     CHILD03          0.987989
16     CHILD07          0.983587
17     CHILD12          0.981019
18     CHILD18          0.970161
19      GENDER          0.030992
20    DATASRCE          0.223033
21       SOLP3          0.998113
22       SOLIH          0.935019
23       MAJOR          0.996919
24     GEOCODE          0.840230
25    COLLECT1          0.945479
26    VETERANS          0.890727
27       BIBLE          0.907024
28       CATLG          0.917568
29       HOMEE          0.990703
30        PETS          0.849851
31      CDPLAY          0.871568
32      STEREO          0.865908
33    PCOWNERS          0.890150
34       PHOTO          0.949839
35      CRAFTS          0.914308
36      FISHER          0.925271
37    GARDENIN          0.859535
38       BOATS          0.978745
39      WALKER          0.889940
40    KIDSTUFF          0.983901
41       CARDS          0.989089
42      PLATES          0.994131
43     LIFESRC          0.566302
44    PEPSTRFL          0.525542
46       RFA_3          0.020438
47       RFA_4          0.024232
48       RFA_5          0.352052
49       RFA_6          0.037280
50       RFA_7          0.093007
51       RFA_8          0.036798
52       RFA_9          0.117857
53      RFA_10          0.343227
54      RFA_11          0.109232
55      RFA_12          0.093521
56      RFA_13          0.421530
57      RFA_14          0.197742
58      RFA_15          0.686255
59      RFA_16          0.213988
60      RFA_17          0.289796
61      RFA_18          0.222855
62      RFA_19          0.256697
63      RFA_20          0.526139

In [13]:
# creating threshold

In [14]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85]
drop_columns_list = list(columns_above_threshold['column_name'])
print(drop_columns_list)

['MAILCODE', 'PVASTATE', 'RECINHSE', 'RECP3', 'RECPGVG', 'RECSWEEP', 'CHILD03', 'CHILD07', 'CHILD12', 'CHILD18', 'SOLP3', 'SOLIH', 'MAJOR', 'COLLECT1', 'VETERANS', 'BIBLE', 'CATLG', 'HOMEE', 'CDPLAY', 'STEREO', 'PCOWNERS', 'PHOTO', 'CRAFTS', 'FISHER', 'GARDENIN', 'BOATS', 'WALKER', 'KIDSTUFF', 'CARDS', 'PLATES']

In [15]:
df_cat.shape

(95412, 74)

In [16]:
drop_list=drop_list + (drop_columns_list)

In [17]:
# Remove those columns from the dataframe

In [18]:
# Filling Nans

In [19]:
display(df_cat['GENDER'].unique())
df_cat['GENDER']=df_cat['GENDER'].fillna('F')
display(df_cat['GENDER'].unique())

array(['F', 'M', nan, 'C', 'U', 'J', 'A'], dtype=object)

array(['F', 'M', 'C', 'U', 'J', 'A'], dtype=object)

In [20]:
# cleaning as requested
df_cat['GENDER'] = np.where(df_cat['GENDER'].isin(['F', 'M']), df_cat['GENDER'], 'other')

In [21]:
display(df_cat['GENDER'].unique())

array(['F', 'M', 'other'], dtype=object)

In [22]:
df_cat['CLUSTER']=df_cat['CLUSTER'].fillna('40')

In [23]:
df_cat['HOMEOWNR'] = df_cat['HOMEOWNR'].fillna('U')

In [24]:
# aggreating DOMAIN into two columns
df_cat['DOMAIN'] = df_cat['DOMAIN'].fillna('R2')

df_cat['DOMAIN_A'] = list(map(lambda x: x[0], df_cat['DOMAIN']))
df_cat['DOMAIN_B'] = list(map(lambda x: x[1], df_cat['DOMAIN']))

In [25]:
df_cat = df_cat.drop('DOMAIN', axis=1)

In [26]:
df_cat['DATASRCE'] = df_cat['DATASRCE'].fillna('0')
df_cat['GEOCODE2'] = df_cat['GEOCODE2'].fillna('A')

In [27]:
drop_list

['OSOURCE',
 'ZIP',
 'MAILCODE',
 'PVASTATE',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'SOLP3',
 'SOLIH',
 'MAJOR',
 'COLLECT1',
 'VETERANS',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES']

In [28]:
for col_name in df_cat.columns:
    if "RFA" in col_name:
        drop_list.append(col_name)

In [29]:
drop_list.remove('RFA_2R')
drop_list.remove('RFA_2A')

In [31]:
df_cat['VETERANS'].value_counts(dropna=False)

NaN    84986
Y      10426
Name: VETERANS, dtype: int64

In [32]:
# Veterans shoul not be on drop_list. Filling nulls with no.
df_cat['VETERANS']=df_cat['VETERANS'].fillna('N')

In [36]:
drop_list.remove('VETERANS')

In [33]:
df_cat['BIBLE'].value_counts(dropna=False)

NaN    86541
Y       8871
Name: BIBLE, dtype: int64

In [34]:
# Same as veterans, might prove usefull to use as a niche.
df_cat['BIBLE']=df_cat['BIBLE'].fillna('N')

In [37]:
drop_list.remove('BIBLE')

In [35]:
df_cat['HOMEE'].value_counts(dropna=False)
# not as usefull, mantain on drop_list

NaN    94525
Y        887
Name: HOMEE, dtype: int64

In [38]:
df_cat['MAJOR'].value_counts(dropna=False)

NaN    95118
X        294
Name: MAJOR, dtype: int64

In [41]:
# Even though 294 major donors suggest is a big outlier like that, it might be interesting to analyse in separate.
df_cat['MAJOR']=df_cat['MAJOR'].fillna('N')
df_cat['MAJOR']=df_cat['MAJOR'].str.replace('X','Y')
drop_list.remove('MAJOR')

In [44]:
df_cat['RECINHSE'].value_counts(dropna=False)

NaN    88709
X       6703
Name: RECINHSE, dtype: int64

In [45]:
len(drop_list)

52

In [47]:
df_cat=df_cat.drop(columns=drop_list)

df_cat.shape

(95412, 23)

In [48]:
# it´s just 7, i´m just dropping it
df_cat['NOEXCH']=df_cat['NOEXCH'].dropna=True

In [49]:
df_cat['AGEFLAG'].value_counts(dropna=False)

E      57344
NaN    29548
I       8520
Name: AGEFLAG, dtype: int64

In [50]:
# fill with the most common 
df_cat['AGEFLAG'] = df_cat['AGEFLAG'].fillna('E')

In [51]:
df_cat['PETS'].value_counts(dropna=False)

NaN    81086
Y      14326
Name: PETS, dtype: int64

In [52]:
# It´s yes or no for household pets. It should be no the Nans
df_cat['PETS'] = df_cat['PETS'].fillna('N')

In [53]:
df_cat['LIFESRC'].value_counts(dropna=False)

NaN    54032
2      20027
3      11479
1       9874
Name: LIFESRC, dtype: int64

In [54]:
# `LIFESRC` | LIFE STYLE DATA SOURCE <br /> Indicates source of the lifestyle variables listed above <br /> 
# 1=MATCHED ON METRO MAIL ONLY <br /> 2=MATCHED ON POLK ONLY <br /> 3=MATCHED BOTH MM AND POLK
# It should be neither, thus fill with 0

In [55]:
df_cat['LIFESRC'] = df_cat['LIFESRC'].fillna(0)

In [56]:
df_cat['PEPSTRFL'].value_counts(dropna=False)

NaN    50143
X      45269
Name: PEPSTRFL, dtype: int64

In [57]:
# `PEPSTRFL` | Indicates PEP Star RFA Status <br /> blank=Not considered to be a PEP Star <br /> 'X'=Has PEP Star RFA Status
# nan should be does NOT have PEP star
df_cat['PEPSTRFL'] = df_cat['PEPSTRFL'].fillna('N')
# replace the X for Y to keep the standard
df_cat['PEPSTRFL']=df_cat['PEPSTRFL'].str.replace('X','Y')

In [58]:
df_cat['PEPSTRFL'].value_counts(dropna=False)

N    50143
Y    45269
Name: PEPSTRFL, dtype: int64

In [59]:
df_cat['GEOCODE'].value_counts(dropna=False)

NaN    80168
12      3914
3       3327
14      2017
5       1918
4       1622
2       1408
1       1038
Name: GEOCODE, dtype: int64

In [60]:
df_cat['GEOCODE'] = df_cat['GEOCODE'].fillna('Not assigned')

In [61]:
# Final check for nulls
df_cat.isna().sum()

STATE       0
NOEXCH      0
MDMAUD      0
CLUSTER     0
AGEFLAG     0
HOMEOWNR    0
GENDER      0
DATASRCE    0
MAJOR       0
GEOCODE     0
VETERANS    0
BIBLE       0
PETS        0
LIFESRC     0
PEPSTRFL    0
RFA_2R      0
RFA_2A      0
MDMAUD_R    0
MDMAUD_F    0
MDMAUD_A    0
GEOCODE2    0
DOMAIN_A    0
DOMAIN_B    0
dtype: int64

> All nulls cleaned and columns dropped for categoricals

## End of Lab 7.01

In [ ]:
# Check for null values in the numerical columns and keeping the standard of dropping the columns with more then 85% nulls.

In [ ]:
nulls_percent_df2 = pd.DataFrame(df_num.isna().sum()/len(df_num)).reset_index()
nulls_percent_df2.columns = ['column_name', 'nulls_percentage']
#nulls_percent_df2[nulls_percent_df2['nulls_percentage']!=0].head(60)

In [ ]:
drop_list_2=[]

In [ ]:
columns_above_threshold_2 = nulls_percent_df2[nulls_percent_df2['nulls_percentage']>0.85]
drop_columns_list_2 = list(columns_above_threshold_2['column_name'])
print(drop_columns_list_2)

In [ ]:
drop_list_2=drop_columns_list_2

In [ ]:
#drop_list_2

In [ ]:
# `WEALTH1` | Wealth Rating

In [ ]:
df_num['WEALTH1'].value_counts(dropna=False)

In [ ]:
df_num['WEALTH2'].value_counts(dropna=False)

In [ ]:
# both columns are the same. filling with the mean
#numerical['WEALTH1'] = numerical['WEALTH1'].astype('object')
df_num['WEALTH1'] = df_num['WEALTH1'].fillna(np.mean)
#numerical['WEALTH2'] = numerical['WEALTH2'].astype('object')
df_num['WEALTH2'] = df_num['WEALTH2'].fillna(np.mean)

In [ ]:
df_num.isna().sum()

In [ ]:
df_num['AGE'].value_counts(dropna=False)

In [ ]:
# filling with mean
df_num['AGE'] = df_num["AGE"].fillna(np.mean(df_num['AGE']))

In [ ]:
df_num['NUMCHLD'].value_counts(dropna=False)

In [ ]:
# filling with no kids = 0
df_num['NUMCHLD']=df_num['NUMCHLD'].fillna(0)

In [ ]:
# GEOCODE2 was done before. dealing with columns asked on the Lab.

In [ ]:
df_num['ADI'].value_counts(dropna=False)

In [ ]:
df_num['DMA'].value_counts(dropna=False)

In [ ]:
 df_num['MSA'].value_counts(dropna=False)

In [ ]:
# grouping them columns to better inspect
df_num_sorted = df_num[['MSA', 'DMA', 'ADI']]

In [ ]:
df_num_sorted

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns 
sns.distplot(df_num[df_num['MSA'].isna()==False]['MSA']) 
plt.show()

In [ ]:
# they all seem to follow the same pattern.
# Replacing all 0 values in MSA, DMA, and ADI columns with the corresponding column mean
for col in ['MSA', 'DMA', 'ADI']:
    df_num[col] = df_num[col].replace(0, df_num[col].mean())

In [ ]:
sns.distplot(df_num[df_num['MSA'].isna()==False]['MSA']) 
plt.show()

In [ ]:
drop_list_2.remove('NUMCHLD')

In [ ]:
display(df_num.shape)
df_num=df_num.drop(columns=drop_list_2)

display(df_num.shape)

In [ ]:
Y = df[['TARGET_B', 'TARGET_D']]

In [62]:
df_cat.to_csv('categorical7_02.csv')

In [ ]:


df_num.to_csv('numerical7_02.csv')

Y.to_csv('target7_02.csv')